{% extends 'generic_base.html' %}
{% load static %}
{% block title %} Mero Blog {% endblock title %}

{% block body %}
    <div class="container">
        {% for category in categories %}
            {% if forloop.counter <= 5 %}
                <a href="{{ category.get_absolute_url }}" class="btn btn-light">{{ category.title }}</a>
            {% endif %}
        {% endfor %}
        <div class="mt-5"></div>
        <div id="post-list-container">
            {% include 'post/post_list_ajax.html' %}
        </div>
    </div>
{% endblock body %}