{% extends 'generic_base.html' %}
{% load static %}

{% block title %} Posts {% endblock title %}

{% block body %}

<div class="container">
    {% for post in post_list %}
        <div class="row m-1">
            <div class="author-list-page">
                {% if post.author.image %}
                    <img src="{{ post.author.image.url }}" width="25px" height="25px" style="border-radius: 50%;">
                {% else %}
                    <img src="{% static 'images/default.jpeg' %}" width="25px" height="25px" style="border-radius: 50%;">
                {% endif %}
                <p style="padding-top: 1rem; font-size: .8rem;" class="text-muted poppin">{{ post.author.username }}</p>
                <p style="padding-top: 1rem; font-size: .8rem;" class="text-muted poppin">{{ post.created_on|date:'M d, Y' }}</p>
                <a href="{{ post.category.get_absolute_url }}" class="btn btn-sm btn-light">{{ post.category.title }}</a>
            </div>
            <div class="row">
                <a href="{{ post.get_absolute_url }}" class="text-decoration-none text-black fw-bolder poppin"><p class="poppin">{{ post.title }}</p></a>
                <p class="text-muted">{{ post.body| striptags | safe | slice:":80" }}</p>
            </div> 
            {% comment %} <hr> {% endcomment %}
        </div> 
    {% endfor %}
</div>
{% endblock body %}