{% extends 'generic_base.html' %}
{% load static %}

{% block body %}
    <div class="container">
        <div class="row text-center">
        <h1 class="p-2 display-4" style="font-weight: bolder;">{{ post.title }}</h1>
        </div>
        <div class="container mt-1">
            <div class="row align-items-center d-flex flex-nowrap">
                <div class="col-md-1 col-2 flex-shrink-5">
                    {% if post.author.image %}
                        <img src="{{ post.author.image.url }}" width="50" height="50" class="rounded-circle" alt="Author Profile">
                    {% else %}
                        <img src="{% static 'images/default.jpeg' %}" width="50" height="50" class="rounded-circle" alt="Author Profile">
                    {% endif %}
                </div>
                <div class="col-md-11 col-10 mx-0">
                    <a href="{{ post.author.get_absolute_url }}" class="text-decoration-none text-muted"> <p class="mb-0 poppin">{{ post.author.username }}</p></a>
                    <p class="text-muted poppin">{{ post.created_on }}</p>
                </div>
            </div>
        </div>
        
        <hr>
        <div class="card-body">
            {% if post.thumbnail %}
                <img src="{{ post.thumbnail.url }}" alt="Post Thumbnail" class="img-fluid mb-4 mx-auto d-block">
            {% endif %}
            <!-- ck ck-content is ckeditor5 class -->
            <div class="ck ck-content">
                <p class="poppin"> {{ post.body|safe }} </p>
            </div>
        </div>
    </div>
{% endblock body %}